* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lobster&display=swap');

html, body {
    text-align: center;


}

h1 {
    font-size: 2rem;
    font-family: 'Bebas Neue', cursive;
font-family: 'Lobster', cursive;

}

h2 {
    font-size: 2.8rem;
}
h3 {
    font-size: 3rem;

}

h4, h5 {
    font-size: 1.5rem;
}
li {
    list-style: none;
    font-size: 2rem;
}
a {
    color: beige;
    text-decoration: none;
}

.head {
    background-color: rgb(2, 32, 17);
    color: beige;
    position: sticky;
    top: 0px;
}
nav {
    min-height: 10vh;
    display: flex;
    align-items: center;
    width: 90%;
    margin: auto;
    /*padding: 2rem;*/
}

nav ul {
    display: flex;
    flex: 1 1 40rem;
    justify-content: space-around;
    align-items: center;
}

#logo {
    flex:  2 1 40rem;
}
.hero {
    min-height: 90vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), transparent), url(img/lbv.jpg);
    background-size: cover;
    background-position: center;
    color: beige;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero h3 {
    padding: 4rem;
}

button {
    padding: 2rem 6rem;
    background-color: rgb(2, 32, 17);
    border: none;
    color: beige;
    cursor: pointer;
    font-size: 1.8rem;
}

/*je passe aux images*/*

